<!DOCTYPE html>
<html>
<body>
<h1>Adventure Works Simple API</h1>
<p>These is a test using Python and Flask .To test the endpoints navigate to:</p>
<ul><li><a href="http://127.0.0.1:5000/persons">http://127.0.0.1:5000/persons</a> to retrieve the entire Person.Person table in JSON Response</li>
    <li><a href="http://127.0.0.1:5000/person/9152">http://127.0.0.1:5000/person/{BusinessEntityID}</a> to retrieve a specific record from Person.Person table in JSON Response</li></ul>
</body>
</html>